body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #1e3a8a;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero */
.hero {
    padding: 60px;
    background: #f0f4ff;
    height: 1366px;
    width: 578px;
}

h2 {
    color: #1e3a8a;
}

.hero-banner h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 8px rgba(13, 110, 253, 0.7),
        0 0 20px rgba(13, 110, 253, 0.5);
}

.hero-banner {
    width: 100%;
    height: 578px; 
    background-image: url('../images/banner.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-banner .container {
    position: relative;
    z-index: 2;
}


/* Headquarter */
.hq-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: bold;
    transition: 0.3s;

    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}

.hq-circle:hover {
    transform: scale(1.1);
}

.hq-circle.jkt {
    background-image: url(../images/Jakarta.jpg);
}
.hq-circle.bdg {
    background-image: url(../images/Bandung.jpg);
}
.hq-circle.sby {
    background-image: url(../images/Surabaya.jpg);
}

.hq-circle {
    position: relative;
    overflow: hidden;
}

.hq-circle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hq-circle {
    z-index: 1;
}

.hq-circle span {
    position: relative;
    z-index: 2;
}

.profile-banner {
    width: 100%;
    height: 578px; 
    background-image: url('../images/banner.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.profile-banner h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 8px rgba(13, 110, 253, 0.7),
        0 0 20px rgba(13, 110, 253, 0.5);
}

.profile-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.profile-banner .container {
    position: relative;
    z-index: 2;
}


/* Message */
.message {
    padding: 50px;
}

.form-container {
    display: flex;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3b82f6;
}

.result-box {
    border: 1px solid #1e3a8a;
    padding: 20px;
    width: 300px;
}

/* Profile */
.banner {
    padding: 80px;
    background: #ddd;
    text-align: center;
}

.content {
    padding: 50px;
}

/* Responsive */
@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .circle-container {
        flex-direction: column;
    }

    .hero-banner {
        height: 350px;
    }
    .profile-banner {
        height: 350px;
    }

    #headquarter {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .hq-circle {
        margin: 20px auto;
    }

    #resultCard {
        margin-top: 20px;
        width: 100%;
    }

    form {
        width: 100%;
    }

    textarea {
        min-height: 100px;
    }
}
